.rightsideHome{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding-top: 30px;

}
.topProfileRight{
    width: 46px;
    height: 46px;
    border-radius: 100%;

}
.imageRightsideprofile{
    width: 100%;
    border-radius: 100%;

}
.imageDivRightside{
   
    width: 45px;
    height: 40px;
    border-radius: 100%;


}
.userNameRightside{
    font-size: 14px;
    font-weight: 500;
    

}
.useNameBlock{
    display: flex;

}
    .userFullNmae{

    }